.suggestionitemscontainer{
    display:flex;
    padding-left:0px;
    justify-content: space-between;
}
.searchtext{
    font-size: 12px;
    width:10vw;

}
.arrowicon{
    height:2vh;
    padding-top: 12px;
    cursor: pointer;
    
}