ç .maincontainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height:100vh;
  box-shadow: 0px 4px 16px 0px

} 
.googlecontainer{
 text-align: center;
}
.googlelogo{
  height:8vh;
  width:15vw;
  align-items: center;
  margin:15px;
}
.bulgcontainer{
  width:25vw;
  box-shadow: 0px 4px 16px 0px ;
  border-radius: 10px;
  padding: 20px;
}

.searchcontainer{
  display:flex;
  


}
.searchicon{
  height:2vh;
}
.searchtextcontainer{
  border:none;
  outline: none;
  width:35vw;
  margin-bottom: 10px;

}